{% extends 'base.html' %}
{% block content %}
	{% if message %}
		{{ message }}
	{% endif %}
	<h1>Sing up!</h1>
	<form method="POST" action={% url 'accounts:sign_up' %}>
		{% csrf_token %}
		<span>Username:</span>
		<br>
		<input type="text" name="username">
		<br>
		<span>Password</span>
		<br>
		<input type="password" name="password">
		<br>
		<span>Confirm your password</span>
		<br>
		<input type="password" name="password1">
		<br>
		<br>
		<input class="btn btn-primary" type="submit" value="Sing up!">
	</form>
{% endblock %}